body {
  background-image: url("Ejemplo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#Encabezado {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  background-color: #FFCE2B;
  width: 100%;
  text-align: center;
  margin-top: -0.4%;
  margin-right: -0.4%;
  border-color: rgb(0, 0, 0);
  border: 0.5%;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

html {
  font-size: 10px;
}

#Inicio {
  text-align: center;
  color: white;
  font-size: 3rem;
  background-color: #42413D;
  border-radius: 5rem;
  width: 70rem;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 65rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container {
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.pregunta1 {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #FFCE2B;
  border-radius: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pregunta2 {
  color: rgb(0, 0, 0);
  text-align: justify;
  font-family: "Roboto", sans-serif;
  width: 60rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}